* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 100%, 98%);
}

.logo {
  margin: 2rem;
}
.photo {
  width: 100%;
}

.body {
  text-align: center;
  margin: 2rem;
  width: 100%;
}
.firstWord {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}
.coming-soon {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}
.body-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  margin: 1rem;
  line-height: 1.6;
}
.inputButton {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 2rem; */
}
input {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid hsl(0, 36%, 70%);
  height: 30px;
  width: 200px;
  text-align: center;
  margin: 2rem;
}
::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 1;
}

button {
  position: absolute;
  right: 70px;
  z-index: 2;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 2.5rem;
  height: 1.9rem;
  background-image: linear-gradient(90deg, #daa4a4, #ee8c8c);
  box-shadow: 5px 2px 30px 2px #daa4a4;
}

/* 
button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
} */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  .inputButton {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem; */
  }

  button {
    position: absolute;
    right: 600px;
    z-index: 2;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 2.5rem;
    height: 1.9rem;
    background-image: linear-gradient(90deg, #daa4a4, #ee8c8c);
    box-shadow: 5px 2px 30px 2px #daa4a4;
  }
}
