* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 100%, 98%);
}

.logo {
  margin: 2rem;
}
.mobile-photo {
  width: 100%;
}
.desktop-photo {
  display: none;
}
.text-body {
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}
.firstWord {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}
.coming-soon {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}
.paragraph-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  margin: 1rem;
  line-height: 1.6;
}
.call-to-action {
  display: flex;
  position: relative;
  /* margin: 2.5em auto 0; */
  justify-content: center;
  align-items: center;
}
input {
  width: 70%;
  height: 48px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid hsl(0, 36%, 70%);
  text-align: center;
  margin: 2rem;
}
input:focus {
  outline: none;
}
::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 1;
}

.form-btn {
  position: absolute;
  right: 55px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 12px;
  width: 70px;
  background-image: linear-gradient(90deg, #daa4a4, #ee8c8c);
  box-shadow: 5px 2px 30px 2px #daa4a4;
}

.form-btn:focus {
  outline: none;
}
.form-btn:hover {
  background: #fdd5d5;
}
.icon-error {
  margin-top: 0.8em;
  visibility: hidden;
}
.error-msg {
  color: hsl(0, 93%, 68%);
  font-weight: bold;
  text-align: left;
  padding-left: 12%;
  margin-bottom: 5vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 740px) {
  body {
    display: flex;
    justify-content: space-evenly;
  }
  .desktop-bg-image {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% 100%;
    display: block;
  }
  .text-body {
    text-align: center;
    margin-top: 5rem;
    margin-left: 3rem;
    width: 100%;
  }
  .header {
    text-align: left;
    margin-left: 10px;
  }
  .paragraph-text {
    text-align: left;
  }
  .desktop-photo {
    background-image: url("./images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;

    display: block;
  }
  .mobile-photo {
    display: none;
  }

  .call-to-action {
    position: relative;
    /* margin: 2.5em auto 0; */
    justify-content: center;
    align-items: center;
  }

  .form-btn {
    position: absolute;
    right: 55px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 12px;
    width: 70px;
    background-image: linear-gradient(90deg, #daa4a4, #ee8c8c);
    box-shadow: 5px 2px 30px 2px #daa4a4;
  }
}
